*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    background-color: #ffde73;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid white;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
}
.footer{
    background-color: #ffde73;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 6vh;
    width: 100%;
}
.home{
    height: 160vh;
    margin: auto;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.home div{
    width: 80%;
    text-align: center;
    margin: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color: #ffc60b;
}
.contact{
    border: 1px solid #c16a08;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100vh;
    border-radius: 10px;
    background-color: #ffde73;
    margin: 10px auto;

}
.contact div{
    width: 50%;
    text-align: center;
    margin: 50px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffc60b;
}
.menu{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    border: 1px solid #c16a08;
    border-radius: 10px;
    background-color: #ffde73;
    margin: 10px auto;
    align-items: center;
    height: 200vh;
}
.menu p {
    width: 50%;
    text-align: center;
    margin: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}
.home h1, .menu h1, .contact h1{
    text-transform: uppercase;
    margin: 20px;
}
.home h3, .menu h3, .contact h3{
    text-transform: uppercase;
    margin-bottom: 10px;
}
iframe{
    width: 100%;
}
img{
    width: 100%;
    padding: 10px;
}